.column {
  width: 180px;
  float: left;
  padding: 20px;
}

.list {
  list-style-type: none;
}

.interest li {
 color: purple;
  font-style: italic;
}

.bright {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: goldenrod
}

.img-1 {
    float: left;  
    text-align: left; 
    margin:15px;  
}

.center{
  text-align: center;
}

.box {
  margin: 12px;
  border: 2px solid black;
  padding: 6px;
  background-color: rgb(248, 240, 240); 
}

h2 {
  text-decoration: underline;
}

a:link {
  text-decoration: none;
  color: black;
  font-style: bold;
}

a:hover {
  color: hotpink;
}

.content {
  clear: both;
}