.column {
  width: 180px;
  float: left;
  padding: 20px;
}

.list {
  list-style-type: none;
}

.bright {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: goldenrod
}